In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Downloads/Customer Call List.xlsx')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [3]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
dtype: bool

In [4]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
df = df.drop(columns="Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [6]:
df["Last_Name"] = df["Last_Name"].str.strip("/._")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [7]:
df["Phone_Number"] = df["Phone_Number"].str.replace('\W','')
df

C:\Users\megha\AppData\Local\Temp\ipykernel_19924\1961682382.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Phone_Number"] = df["Phone_Number"].str.replace('\W','')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,Na,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,Na,N/a,N/a,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [8]:
import numpy as np

df = df.replace({np.nan: None, 'N/a': None, 'Na': None})
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes
2,1003,Walter,White,None,298 Drugs Driveway,N,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,None,1209 South Street,No,No
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No
8,1009,Gandalf,None,None,123 Middle Earth,Yes,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,None,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,Potter,None,2394 Hogwarts Avenue,Y,None
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,None,3498 Super Lane,Y,None
18,1019,Creed,Braton,None,None,None,Yes
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N

In [9]:
#Splitting 'Address' column into 3 columns

df[["Street_Address","State","Zip_Code"]] = df["Address"].str.split(',',2, expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,None,298 Drugs Driveway,N,None,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,None,1209 South Street,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,98 Clue Drive,None,None
8,1009,Gandalf,None,None,123 Middle Earth,Yes,None,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,None,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,None,2394 Hogwarts Avenue,Y,None,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,None,3498 Super Lane,Y,None,3498 Super Lane,None,None
18,1019,Creed,Braton,None,None,None,Yes,None,None,None
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,910 Tatooine Road,Tatooine,None

In [10]:
df = df.drop(columns="Address")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Yes,No,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,No,Yes,93 West Main Street,None,None
2,1003,Walter,White,None,N,None,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,No,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Yes,Yes,768 City Parkway,None,None
6,1007,Jeff,Winger,None,No,No,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,No,98 Clue Drive,None,None
8,1009,Gandalf,None,None,Yes,None,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Yes,No,25th Main Street,New York,None
10,1011,Samwise,Gamgee,None,Yes,No,612 Shire Lane,Shire,None
11,1012,Harry,Potter,None,Y,None,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Yes,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Yes,No,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,No,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,No,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Yes,No,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,None,Y,None,3498 Super Lane,None,None
18,1019,Creed,Braton,None,None,Yes,None,None,None
19,1020,Anakin,Skywalker,8766783469,Yes,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Yes,N,910 Tatooine Road,Tatooine,None

In [11]:
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes','Y')
df["Paying Customer"] = df["Paying Customer"].str.replace('No','N')

df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y')
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No','N')

df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,1236439775,N,Y,93 West Main Street,None,None
2,1003,Walter,White,None,N,None,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,1235432345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,8766783469,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,3047622467,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,None,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,98 Clue Drive,None,None
8,1009,Gandalf,None,None,Y,None,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,None,Y,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,None,Y,None,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,None,Y,None,3498 Super Lane,None,None
18,1019,Creed,Braton,None,None,Y,None,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None

In [12]:
#If we are giving this data to customer service then we only have to give contacts that they can contact to.
#So now we are removing contacts that have clearly stated that they don't want to be contacted.

for x in df.index:
    if df.loc[x, "Do_Not_Contact"] == 'Y':
        df.drop(x, inplace=True)
        
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123 Shire Lane,Shire,None
2,1003,Walter,White,None,N,None,298 Drugs Driveway,None,None
4,1005,Jon,Snow,8766783469,Y,N,123 Dragons Road,None,None
6,1007,Jeff,Winger,None,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,98 Clue Drive,None,None
8,1009,Gandalf,None,None,Y,None,123 Middle Earth,None,None
9,1010,Peter,Parker,1235455421,Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,None,Y,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,None,Y,None,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,1235432345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,None,Y,None,3498 Super Lane,None,None
19,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None

In [13]:
#So now if there is no phone_number then we can not contact people,so it should be better to drop columns with no contact number

for x in df.index:
    if df.loc[x, "Phone_Number"] == None:
        df.drop(x, inplace=True)
        
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123 Shire Lane,Shire,None
4,1005,Jon,Snow,8766783469,Y,N,123 Dragons Road,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,1235455421,Y,N,25th Main Street,New York,None
12,1013,Don,Draper,1235432345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,N,121 Paper Avenue,Pennsylvania,None
19,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None

In [14]:
#Resetting index

df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,1235455421,Y,N,123 Shire Lane,Shire,None
4,1005,Jon,Snow,8766783469,Y,N,123 Dragons Road,None,None
7,1008,Sherlock,Holmes,8766783469,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,1235455421,Y,N,25th Main Street,New York,None
12,1013,Don,Draper,1235432345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,8766783469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,3047622467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,1235455421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,1236439775,Y,N,121 Paper Avenue,Pennsylvania,None
19,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None
20,1020,Anakin,Skywalker,8766783469,Y,N,910 Tatooine Road,Tatooine,None